/*------------------------------------------- Footer ----------------------------------------*/
footer {
    background-color: $colour-footer;
    height: 200px;
    width: 100%;
    margin-top: 35px;
    position: relative;
    .content{
        display: flex;
        flex-direction: column;
        height: 150px;
        padding-top: 63px;
        text-align:center;
        & img{
            margin: auto;
          width: 124px;
        }
        & p{
            font-family: $body-font-family;
            font-style: normal;
            font-weight: $font-medium;
            font-size: 24px;
            line-height: 142.6%;
            text-align: center;
            color: $colour-body;
        }
    }
}


/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px){
/*------------------------------------------- Footer ----------------------------------------*/
    footer {
        background-color: $colour-footer;
        height: 200px;
        width: 100%;
        margin-top: 35px;
        position: relative;
        .content{
            display: flex;
            flex-direction: column;
            height: 150px;
            padding-top: 63px;
            text-align:center;
            & img{
                margin: auto;
                width: 66px;
            }
            & p{
                font-family: $body-font-family;
                font-style: normal;
                font-weight: $font-medium;
                font-size: 13px;
                line-height: 142.6%;
                text-align: center;
                color: $colour-body;
            }
        }
    }  
}


/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px){
    /*------------------------------------------- Footer ----------------------------------------*/
        footer {
            background-color: $colour-footer;
            height: 200px;
            width: 100%;
            margin-top: 35px;
            position: relative;
            .content{
                display: flex;
                flex-direction: column;
                height: 150px;
                padding-top: 70px;
                text-align:center;
                & img{
                    margin: auto;
                    width: 142px;
                }
                & p{
                    font-family: $body-font-family;
                    font-style: normal;
                    font-weight: $font-medium;
                    font-size: 13px;
                    line-height: 142.6%;
                    text-align: center;
                    color: $colour-body;
                }
            }
        }  
}

/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px){
    /*------------------------------------------- Footer ----------------------------------------*/
        footer {
            background-color: $colour-footer;
            height: 200px;
            width: 100%;
            margin-top: 63px;
            position: relative;
            .content{
                display: flex;
                flex-direction: column;
                height: 150px;
                padding-top: 62px;
                text-align:center;
                & img{
                    margin: auto;
                    width: 123px;
                }
                & p{
                    font-family: $body-font-family;
                    font-style: normal;
                    font-weight: $font-medium;
                    font-size: 12px;
                    line-height: 142.6%;
                    text-align: center;
                    color: $colour-body;
                }
            }
        }  
}
      