/*------------------------------------------- Header ------------------------------------------*/
header{
    align-items: center;
    display: flex;
    margin-top: 41px;
    margin-bottom: 19px;
   
    margin-left: 100px;
    margin-right: 100px; 
    & img{
     
        height: 68px;
    }
}