/*----------------------------------- navigation ----------------------------------------------*/
nav {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  .nav-link{ 
    font-family: $body-font-family;
    font-style: normal;
    font-weight: $font-medium;
    font-size: 24px;
    line-height: 142.6%;
    color: $colour-theme;
    margin: auto 25px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
      color: $colour-footer;
    } 
  }
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px){
  /*----------------------------------- navigation ----------------------------------------------*/
  nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    .nav-link{ 
      font-family: $body-font-family;
      font-style: normal;
      font-weight: $font-medium;
      font-size: 13px;
      line-height: 142.6%;
      color: $colour-theme;
      margin: auto 25px;
      text-transform: uppercase;
      text-decoration: none;
      &:hover{
        color: $colour-footer;
      } 
    }
  }
}

/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px){
  /*----------------------------------- navigation ----------------------------------------------*/
  nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    .nav-link{ 
      font-family: $body-font-family;
      font-style: normal;
      font-weight: $font-medium;
      font-size: 13px;
      line-height: 142.6%;
      color: $colour-theme;
      margin: auto 10px;
      text-transform: uppercase;
      text-decoration: none;
      &:hover{
        color: $colour-footer;
      } 
    }
  }
}

/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px){
  /*----------------------------------- navigation ----------------------------------------------*/
  nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    .nav-link{ 
      font-family: $body-font-family;
      font-style: normal;
      font-weight: $font-medium;
      font-size: 12px;
      line-height: 142.6%;
      color: $colour-theme;
      margin: auto 10px;
      text-transform: uppercase;
      text-decoration: none;
      &:hover{
        color: $colour-footer;
      } 
    }
  }
}

/*-------------------------------- Responsive - layout Mobile S 320px --------------------------*/
@media screen and (max-width: 320px){
  /*----------------------------------- navigation ----------------------------------------------*/
  nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    .nav-link{ 
      font-family: $body-font-family;
      font-style: normal;
      font-weight: $font-medium;
      font-size: 10px;
      line-height: 142.6%;
      color: $colour-theme;
      margin: auto 10px;
      text-transform: uppercase;
      text-decoration: none;
      &:hover{
        color: $colour-footer;
      } 
    }
  }
}