/*------------------------------------------- Banner ----------------------------------------*/
.banner-about{
    margin:auto;
    margin-left: 100px;
    margin-right: 100px; 
    border-radius: 25px;
    height: 225px;
    margin-bottom: 35px;
    position: relative;
    & img{
        border-radius: 25px;
        height: 100%;
        object-fit: cover;
        object-position: 40% 38%;
        width: 100%;
    }
    & div{
        background-color: $colour-footer;
        border-radius: 25px;
        height: 100%;
        left: 0;
        opacity: 0.3;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px){
    /*------------------------------------------- Banner ----------------------------------------*/
    .banner-about{
        margin-left: 53px;
        margin-right: 53px; 
        border-radius: 25px;
        height: 119px;
        margin-bottom: 35px;
        position: relative;
        & img{
            border-radius: 25px;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
        & div{
            background-color: $colour-footer;
            border-radius: 25px;
            height: 100%;
            left: 0;
            opacity: 0.3;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}
  

/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px){
    /*------------------------------------------- Banner ----------------------------------------*/
    .banner-about{
        margin-left: 22px;
        margin-right: 22px; 
        border-radius: 12px;
        height: 254px;
        margin-bottom: 25px;
        position: relative;
        & img{
            border-radius: 12px;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
        & div{
            background-color: $colour-footer;
            border-radius: 12px;
            height: 100%;
            left: 0;
            opacity: 0.3;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}


/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px){
    /*------------------------------------------- Banner ----------------------------------------*/
    .banner-about{
        margin-top: 17px;
        margin-left: 20px;
        margin-right: 20px; 
        border-radius: 10px;
        height: 223px;
        margin-bottom: 25px;
        position: relative;
        & img{
            border-radius: 12px;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
        & div{
            background-color: $colour-footer;
            border-radius: 12px;
            height: 100%;
            left: 0;
            opacity: 0.3;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}

/*-------------------------------- Responsive - layout Mobile S 320px --------------------------*/
@media screen and (max-width: 320px){
    /*------------------------------------------- Banner ----------------------------------------*/
    .banner-about{
        margin-top: 15px;
        margin-left: 16px;
        margin-right: 16px; 
        border-radius: 9px;
        height: 191px;
        margin-bottom: 16px;
        position: relative;
        & img{
            border-radius: 9px;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
        & div{
            background-color: $colour-footer;
            border-radius: 9px;
            height: 100%;
            left: 0;
            opacity: 0.3;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}