/*------------------------------------------- Page about ----------------------------------------*/
.dropdown-about {
    margin:auto;
    padding-left: 209px;
    padding-right: 209px; 
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px){
    /*------------------------------------------- Page about ----------------------------------------*/
    .dropdown-about {
        margin:auto;
        padding-left: 111px;
        padding-right: 111px; 
    }
}

/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px){
    /*------------------------------------------- Page about ----------------------------------------*/
    .dropdown-about {
        margin:auto;
        padding-left: 22px;
        padding-right: 22px; 
    }
}

/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px){
    /*------------------------------------------- Page about ----------------------------------------*/
    .dropdown-about {
        margin:auto;
        padding-left: 20px;
        padding-right: 20px; 
    }
}

/*-------------------------------- Responsive - layout Mobile S 320px --------------------------*/
@media screen and (max-width: 320px){
    /*------------------------------------------- Page about ----------------------------------------*/
    .dropdown-about {
        margin:auto;
        padding-left: 18px;
        padding-right: 18px; 
    }
}