/*------------------------------------------- Page Home ----------------------------------------*/
.section-card{
    margin-left: 100px;
    margin-right: 100px; 
    background-color: #f6f6f6;
    border-radius: 25px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 50px 60px; 
    padding: 55px 50px;
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px){
   /*------------------------------------------- Page Home ----------------------------------------*/
   .section-card{
        margin-left: 53px;
        margin-right: 53px; 
        background-color: #f6f6f6;
        border-radius: 13px;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 14px 30px; 
        padding: 28px 25px;
    }
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 425px){
    /*------------------------------------------- Page Home ----------------------------------------*/
    .section-card{
        margin-left: 0px;
        margin-right: 0px; 
        background-color: $colour-body;
        border-radius: 13px;
        display: flex;
        flex-direction: column;
        gap: 9px 0px;       
    }
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 375px){
    /*------------------------------------------- Page Home ----------------------------------------*/
    .section-card{
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 22px; 
        padding-left: 20px;
        padding-right: 20px;
        background-color: $colour-body;
        border-radius: 13px;
        display: flex;
        flex-direction: column;
        gap: 22px 0px;       
    }
}


/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 320px){
    /*------------------------------------------- Page Home ----------------------------------------*/
    .section-card{
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 19px;
        padding-left: 18px;
        padding-right: 18px;
        background-color: $colour-body;
        border-radius: 13px;
        display: flex;
        flex-direction: column;
        gap: 19px 0px;        
    }
}