/*------------------------------------------- Page fiche du logement ----------------------------------------*/
.logements-propietaire {
    display: -webkit-flex;
    display: flex;
    margin:auto;
    padding-left: 100px;
    padding-right: 100px; 
    .information-logements{
        flex-direction: column;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    
        & h1{
            font-family: $body-font-family;
            font-style: normal;
            font-weight: $font-medium;
            font-size: 36px;
            line-height: 142.6%;
            color: $colour-theme;
        }
        & p{
            
            font-family: $body-font-family;
            font-style: normal;
            font-weight: $font-medium;
            font-size: 18px;
            margin-bottom: 25px;
            line-height: 142.6%;
            color: $colour-theme; 
        }
    }
    .information-propietaire {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 25px;
      
        & span{
            font-family: $body-font-family;
            font-style: normal;
            font-weight: $font-medium;
            font-size: 18px;
            line-height: 142.6%;
            color: $colour-theme;
            margin-right: 10px;
            text-align: right;
            width: 100px; 
        }
        & img{
            border-radius: 50%;
            height: 64px;
            object-fit: cover;
            width: 64px;
        }   
    }
    .note {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        .etoile {
            height: 30px;
            width: 30px;
        }
    }
}

.description-equipements {
    padding-left: 100px;
    padding-right: 100px;
    display: inline-flex;
    gap: 0 75px;
    line-height: 22.5px;
    list-style: none;
    margin-top: 25px;
    width: 100%;
    & > .dropdown {
        width: 50%;
        height: 100%;
    }
}


/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px){
    /*------------------------------------------- Page fiche du logement ----------------------------------------*/
    .logements-propietaire {
        display: -webkit-flex;
        display: flex;
        margin:auto;
        padding-left: 53px;
        padding-right: 53px; 
        .information-logements{
            flex-direction: column;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            & h1{
                font-family: $body-font-family;
                font-style: normal;
                font-weight: $font-medium;
                font-size: 19px;
                line-height: 142.6%;
                color: $colour-theme;
            }
            & p{      
                font-family: $body-font-family;
                font-style: normal;
                font-weight: $font-medium;
                font-size: 9px;
                margin-bottom: 13px;
                line-height: 142.6%;
                color: $colour-theme; 
            }
        }
        .information-propietaire {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 13px;      
            & span{
                font-family: $body-font-family;
                font-style: normal;
                font-weight: $font-medium;
                font-size: 10px;
                line-height: 142.6%;
                color: $colour-theme;
                margin-right: 10px;
                text-align: right;
                width: 50px; 
            }
            & img{
                border-radius: 50%;
                height: 34px;
                object-fit: cover;
                width: 34px;
            }   
        }
        .note {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            .etoile {
                height: 15px;
                width: 15px;
            }
        }
    }
    .description-equipements {
        display: inline-flex;
        gap: 0 41px;
        line-height: 22.5px;
        list-style: none;
        margin-top: 25px;
        width: 100%;
        & > .dropdown {
        width: 50%;
        height: 100%;
        }
    }
}

/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px){
    /*------------------------------------------- Page fiche du logement ----------------------------------------*/
    .logements-propietaire {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        margin:auto;
        padding-left: 22px;
        padding-right: 22px; 
        .information-logements{
            flex-direction: column;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
       
            & h1{
                font-family: $body-font-family;
                font-style: normal;
                font-weight: $font-medium;
                font-size: 21px;
                line-height: 142.6%;
                color: $colour-theme;
            }
            & p{      
                font-family: $body-font-family;
                font-style: normal;
                font-weight: $font-medium;
                font-size: 17px;
                margin-bottom: 13px;
                line-height: 142.6%;
                color: $colour-theme; 
            }
        }
        .information-propietaire {
            align-items: center;
            display: -webkit-flex;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 13px;      
            & span{
                font-family: $body-font-family;
                font-style: normal;
                font-weight: $font-medium;
                font-size: 13px;
                line-height: 142.6%;
                color: $colour-theme;
                margin-right: 10px;
                text-align: right;
                width: 50px; 
            }
            & img{
                border-radius: 50%;
                height: 37px;
                object-fit: cover;
                width: 37px;
            }   
        }
        .note {
            align-items: center;
            display: flex;
            justify-content: flex-start;
            margin-top: -20px;
            .etoile {
                height: 15px;
                width: 15px;
            }
        }
    }
    .description-equipements {
        padding-left: 22px;
        padding-right: 22px; 
        display: flex;
        flex-direction: column;
        gap: 0 41px;
        line-height: 22.5px;
        list-style: none;
        margin-top: 25px;
        width: 100%;
        & > .dropdown {
        width: 100%;
        height: 100%;
        }
    }
}

/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px){
    /*------------------------------------------- Page fiche du logement ----------------------------------------*/
    .logements-propietaire {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        margin:auto;
        padding-left: 20px;
        padding-right: 20px; 
        .information-logements{
            flex-direction: column;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
       
            & h1{
                font-family: $body-font-family;
                font-style: normal;
                font-weight: $font-medium;
                font-size: 18px;
                line-height: 142.6%;
                color: $colour-theme;
            }
            & p{      
                font-family: $body-font-family;
                font-style: normal;
                font-weight: $font-medium;
                font-size: 14px;
                margin-bottom: 13px;
                line-height: 142.6%;
                color: $colour-theme; 
            }
        }
        .information-propietaire {
            align-items: center;
            display: -webkit-flex;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 13px;      
            & span{
                font-family: $body-font-family;
                font-style: normal;
                font-weight: $font-medium;
                font-size: 12px;
                line-height: 142.6%;
                color: $colour-theme;
                margin-right: 10px;
                text-align: right;
                width: 50px; 
            }
            & img{
                border-radius: 50%;
                height: 32px;
                object-fit: cover;
                width: 32px;
            }   
        }
        .note {
            align-items: center;
            display: flex;
            justify-content: flex-start;
            margin-top: -27px;
            .etoile {
                height: 15px;
                width: 15px;
            }
        }
    }
    .description-equipements {
        padding-left: 20px;
        padding-right: 20px; 
        display: flex;
        flex-direction: column;
        gap: 0 41px;
        line-height: 22.5px;
        list-style: none;
        margin-top: 16px;
        width: 100%;
        & > .dropdown {
        width: 100%;
        height: 100%;
        }
    }
}

/*-------------------------------- Responsive - layout Mobile S 320px --------------------------*/
@media screen and (max-width: 320px){
    /*------------------------------------------- Page fiche du logement ----------------------------------------*/
    .logements-propietaire {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        margin:auto;
        padding-left: 18px;
        padding-right: 18px; 
        .information-logements{
            flex-direction: column;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
       
            & h1{
                font-family: $body-font-family;
                font-style: normal;
                font-weight: $font-medium;
                font-size: 15px;
                line-height: 142.6%;
                color: $colour-theme;
            }
            & p{      
                font-family: $body-font-family;
                font-style: normal;
                font-weight: $font-medium;
                font-size: 12px;
                margin-bottom: 13px;
                line-height: 142.6%;
                color: $colour-theme; 
            }
        }
        .information-propietaire {
            align-items: center;
            display: -webkit-flex;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 13px;      
            & span{
                font-family: $body-font-family;
                font-style: normal;
                font-weight: $font-medium;
                font-size: 10px;
                line-height: 142.6%;
                color: $colour-theme;
                margin-right: 10px;
                text-align: right;
                width: 50px; 
            }
            & img{
                border-radius: 50%;
                height: 27px;
                object-fit: cover;
                width: 27px;
            }   
        }
        .note {
            align-items: center;
            display: flex;
            justify-content: flex-start;
            margin-top: -27px;
            .etoile {
                height: 13px;
                width: 13px;
            }
        }
    }
    .description-equipements {
        padding-left: 20px;
        padding-right: 20px; 
        display: flex;
        flex-direction: column;
        gap: 0 41px;
        line-height: 22.5px;
        list-style: none;
        margin-top: 16px;
        margin-bottom: 77px;
        width: 100%;
        & > .dropdown {
        width: 100%;
        height: 100%;
        }
    }
}