@charset "UTF-8";
/*----------------------------------------- Couleurs globales -----------------------------------*/
/*----------------------------------------- Police principale -----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*----------------------------------------- Supports -----------------------------------*/
/*----------------------------------- sélecteur universel du site -----------------------------*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px) {
  /*----------------------------------- Sélecteur universel du site ---------------------------*/
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
  }
}
/*------------------------ Responsive layout - Mobile L - 425px -----------------------------*/
@media screen and (max-width: 425px) {
  /*----------------------------------- Sélecteur universel du site ---------------------------*/
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
  }
}
/*------------------------ Responsive layout - Mobile M - 375px -----------------------------*/
@media screen and (max-width: 375px) {
  /*----------------------------------- Sélecteur universel du site ---------------------------*/
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
  }
}
/*------------------------ Responsive layout - Mobile S - 320px -----------------------------*/
@media screen and (max-width: 320px) {
  /*----------------------------------- Sélecteur universel du site ---------------------------*/
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
  }
}
/*------------------------------------------- Banner ----------------------------------------*/
.banner-home {
  margin: auto;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 25px;
  height: 225px;
  margin-bottom: 35px;
  position: relative;
}
.banner-home img {
  border-radius: 25px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.banner-home div {
  background-color: black;
  border-radius: 25px;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}
.banner-home h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: white;
  line-height: 142.6%;
  left: 25%;
  right: 20%;
  top: 38%;
  bottom: 69.04%;
  position: absolute;
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px) {
  /*------------------------------------------- Banner ----------------------------------------*/
  .banner-home {
    margin-left: 53px;
    margin-right: 53px;
    border-radius: 25px;
    height: 119px;
    margin-bottom: 35px;
    position: relative;
  }
  .banner-home img {
    border-radius: 25px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .banner-home div {
    background-color: black;
    border-radius: 25px;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .banner-home h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: white;
    left: 20%;
    right: 9%;
    top: 38%;
    bottom: 69.04%;
    position: absolute;
  }
}
/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px) {
  /*------------------------------------------- Banner ----------------------------------------*/
  .banner-home {
    margin-left: 22px;
    margin-right: 22px;
    border-radius: 12px;
    height: 126px;
    margin-bottom: 2px;
    position: relative;
  }
  .banner-home img {
    border-radius: 12px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .banner-home div {
    background-color: black;
    border-radius: 12px;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .banner-home h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    color: white;
    left: 10%;
    right: 26%;
    top: 20%;
    bottom: 69.04%;
    position: absolute;
  }
}
/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px) {
  /*------------------------------------------- Banner home ----------------------------------------*/
  .banner-home {
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    height: 111px;
    position: relative;
  }
  .banner-home img {
    border-radius: 10px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .banner-home div {
    background-color: black;
    border-radius: 10px;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .banner-home h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: white;
    left: 10%;
    right: 23%;
    top: 20%;
    bottom: 69.04%;
    position: absolute;
  }
}
/*-------------------------------- Responsive - layout Mobile S 320px --------------------------*/
@media screen and (max-width: 320px) {
  /*------------------------------------------- Banner home ----------------------------------------*/
  .banner-home {
    margin-top: 14px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 9px;
    height: 96px;
    position: relative;
  }
  .banner-home img {
    border-radius: 9px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .banner-home div {
    background-color: black;
    border-radius: 9px;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .banner-home h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: white;
    left: 10%;
    right: 23%;
    top: 20%;
    bottom: 69.04%;
    position: absolute;
  }
}
/*------------------------------------------- Banner ----------------------------------------*/
.banner-about {
  margin: auto;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 25px;
  height: 225px;
  margin-bottom: 35px;
  position: relative;
}
.banner-about img {
  border-radius: 25px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 40% 38%;
     object-position: 40% 38%;
  width: 100%;
}
.banner-about div {
  background-color: black;
  border-radius: 25px;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px) {
  /*------------------------------------------- Banner ----------------------------------------*/
  .banner-about {
    margin-left: 53px;
    margin-right: 53px;
    border-radius: 25px;
    height: 119px;
    margin-bottom: 35px;
    position: relative;
  }
  .banner-about img {
    border-radius: 25px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .banner-about div {
    background-color: black;
    border-radius: 25px;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px) {
  /*------------------------------------------- Banner ----------------------------------------*/
  .banner-about {
    margin-left: 22px;
    margin-right: 22px;
    border-radius: 12px;
    height: 254px;
    margin-bottom: 25px;
    position: relative;
  }
  .banner-about img {
    border-radius: 12px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .banner-about div {
    background-color: black;
    border-radius: 12px;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px) {
  /*------------------------------------------- Banner ----------------------------------------*/
  .banner-about {
    margin-top: 17px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    height: 223px;
    margin-bottom: 25px;
    position: relative;
  }
  .banner-about img {
    border-radius: 12px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .banner-about div {
    background-color: black;
    border-radius: 12px;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
/*-------------------------------- Responsive - layout Mobile S 320px --------------------------*/
@media screen and (max-width: 320px) {
  /*------------------------------------------- Banner ----------------------------------------*/
  .banner-about {
    margin-top: 15px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 9px;
    height: 191px;
    margin-bottom: 16px;
    position: relative;
  }
  .banner-about img {
    border-radius: 9px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .banner-about div {
    background-color: black;
    border-radius: 9px;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
/*------------------------------------------- Cards ----------------------------------------*/
.card {
  border-radius: 10px;
  min-height: 340px;
  min-width: 340px;
  position: relative;
}
.card img {
  width: 100%;
  height: 20rem;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  mix-blend-mode: darken;
}
.card div {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  height: 320px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.card h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  bottom: 40px;
  color: white;
  left: 20px;
  margin-right: 20px;
  position: absolute;
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px) {
  /*------------------------------------------- Cards ----------------------------------------*/
  .card {
    border-radius: 6px;
    min-height: 181px;
    min-width: 181px;
    position: relative;
  }
  .card img {
    width: 100%;
    height: 10rem;
    border-radius: 6px;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 1;
    mix-blend-mode: darken;
  }
  .card div {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 6px;
    height: 10rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .card h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 142.6%;
    bottom: 40px;
    color: white;
    left: 20px;
    margin-right: 20px;
    position: absolute;
  }
}
/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px) {
  /*------------------------------------------- Cards ----------------------------------------*/
  .card {
    border-radius: 12px;
    min-height: 181px;
    min-width: 181px;
    position: relative;
  }
  .card img {
    width: 100%;
    height: 10rem;
    border-radius: 12px;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 1;
    mix-blend-mode: darken;
  }
  .card div {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 12px;
    height: 10rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .card h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 142.6%;
    bottom: 40px;
    color: white;
    left: 20px;
    margin-right: 20px;
    position: absolute;
  }
}
/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px) {
  /*------------------------------------------- Cards ----------------------------------------*/
  .card {
    border-radius: 10px;
    height: 256px;
    width: 100%;
    position: relative;
  }
  .card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 1;
    mix-blend-mode: darken;
  }
  .card div {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .card h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    bottom: 22px;
    color: white;
    left: 20px;
    margin-right: 20px;
    position: absolute;
  }
}
/*-------------------------------- Responsive - layout Mobile S 320px --------------------------*/
@media screen and (max-width: 320px) {
  /*------------------------------------------- Cards ----------------------------------------*/
  .card {
    border-radius: 8px;
    height: 219px;
    width: 100%;
    position: relative;
  }
  .card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 1;
    mix-blend-mode: darken;
  }
  .card div {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 8px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .card h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 142.6%;
    bottom: 18px;
    color: white;
    left: 18px;
    position: absolute;
  }
}
/*------------------------------------------- Carrousel ----------------------------------------*/
.carrousel {
  display: block;
  height: 415px;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 24px;
}
.carrousel .fleche {
  position: absolute;
  width: 45px;
  z-index: 1;
}
.carrousel .fleche :hover {
  cursor: pointer;
  filter: drop-shadow(2px 4px 6px black);
}
.carrousel .fleche-gauche {
  margin-left: 25px;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}
.carrousel .fleche-droite {
  margin-right: 25px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.carrousel .carrousel-img {
  border-radius: 15px;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
  width: 100%;
}
.carrousel .carrousel-img.actif {
  display: block;
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px) {
  /*------------------------------------------- Carrousel ----------------------------------------*/
  .carrousel {
    display: block;
    height: 222px;
    position: relative;
    margin-left: 53px;
    margin-right: 53px;
    margin-bottom: 12px;
  }
  .carrousel .fleche {
    position: absolute;
    width: 44px;
    z-index: 1;
  }
  .carrousel .fleche :hover {
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
  }
  .carrousel .fleche-gauche {
    margin-left: 25px;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
  }
  .carrousel .fleche-droite {
    margin-right: 25px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .carrousel .carrousel-img {
    border-radius: 12px;
    height: 222px;
    -o-object-fit: cover;
       object-fit: cover;
    display: none;
    width: 100%;
  }
  .carrousel .carrousel-img.actif {
    display: block;
  }
}
/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px) {
  /*------------------------------------------- Carrousel ----------------------------------------*/
  .carrousel {
    display: block;
    height: 222px;
    position: relative;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 12px;
  }
  .carrousel .fleche {
    position: absolute;
    width: 12px;
    z-index: 1;
  }
  .carrousel .fleche :hover {
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
  }
  .carrousel .fleche-gauche {
    margin-left: 25px;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
  }
  .carrousel .fleche-droite {
    margin-right: 25px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .carrousel .carrousel-img {
    border-radius: 12px;
    height: 222px;
    -o-object-fit: cover;
       object-fit: cover;
    display: none;
    width: 100%;
  }
  .carrousel .carrousel-img.actif {
    display: block;
  }
}
/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px) {
  /*------------------------------------------- Carrousel ----------------------------------------*/
  .carrousel {
    display: block;
    height: 222px;
    position: relative;
    margin-top: 28px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 45px;
  }
  .carrousel .fleche {
    position: absolute;
    width: 11px;
    z-index: 1;
  }
  .carrousel .fleche :hover {
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
  }
  .carrousel .fleche-gauche {
    margin-left: 6px;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
  }
  .carrousel .fleche-droite {
    margin-right: 6px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .carrousel .carrousel-img {
    border-radius: 10px;
    height: 255px;
    -o-object-fit: cover;
       object-fit: cover;
    display: none;
    width: 100%;
  }
  .carrousel .carrousel-img.actif {
    display: block;
  }
}
/*-------------------------------- Responsive - layout Mobile S 320px --------------------------*/
@media screen and (max-width: 320px) {
  /*------------------------------------------- Carrousel ----------------------------------------*/
  .carrousel {
    display: block;
    height: 219px;
    position: relative;
    margin-top: 22px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 45px;
  }
  .carrousel .fleche {
    position: absolute;
    width: 11px;
    z-index: 1;
  }
  .carrousel .fleche :hover {
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
  }
  .carrousel .fleche-gauche {
    margin-left: 6px;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
  }
  .carrousel .fleche-droite {
    margin-right: 6px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .carrousel .carrousel-img {
    border-radius: 10px;
    height: 255px;
    -o-object-fit: cover;
       object-fit: cover;
    display: none;
    width: 100%;
  }
  .carrousel .carrousel-img.actif {
    display: block;
  }
}
/*------------------------------------------- Dropdown ----------------------------------------*/
.dropdown {
  border-radius: 5px;
  margin-bottom: 35px;
  text-align: left;
}
.dropdown .header-dropdown {
  align-items: center;
  background-color: #FF6060;
  border-radius: 5px;
  display: inline-flex;
  height: 25%;
  min-height: 50px;
  width: 100%;
}
.dropdown .header-dropdown .titre-dropdown {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  color: white;
  padding-top: 8px;
  height: 50px;
  margin: 5px 10px;
}
.dropdown .header-dropdown .fleche-dropdown {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.dropdown .header-dropdown .fleche-dropdown.true {
  justify-content: start;
  transform: rotate(-180deg);
}
.dropdown .description-dropdown {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142.6%;
  background-color: #F6F6F6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #FF6060;
  height: 75%;
  margin-top: -10px;
  min-height: 100px;
  padding: 25px 10px 10px 10px;
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px) {
  .dropdown {
    border-radius: 5px;
    margin-bottom: 18px;
    text-align: left;
  }
  .dropdown .header-dropdown {
    align-items: center;
    background-color: #FF6060;
    border-radius: 5px;
    display: inline-flex;
    height: 25%;
    min-height: 25px;
    width: 100%;
  }
  .dropdown .header-dropdown .titre-dropdown {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 99%;
    color: white;
    padding-top: 8px;
    height: 25px;
    margin: 5px 10px;
  }
  .dropdown .header-dropdown .fleche-dropdown {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
    cursor: pointer;
    position: relative;
  }
  .dropdown .header-dropdown .fleche-dropdown.true {
    justify-content: start;
    transform: rotate(-180deg);
  }
  .dropdown .description-dropdown {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 142.6%;
    background-color: #F6F6F6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FF6060;
    height: 75%;
    margin-top: -10px;
    min-height: 100px;
    padding: 25px 10px 10px 10px;
  }
}
/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px) {
  .dropdown {
    border-radius: 5px;
    margin-bottom: 19px;
    text-align: left;
  }
  .dropdown .header-dropdown {
    align-items: center;
    background-color: #FF6060;
    border-radius: 5px;
    display: inline-flex;
    height: 25%;
    min-height: 25px;
    width: 100%;
  }
  .dropdown .header-dropdown .titre-dropdown {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 50%;
    color: white;
    padding-top: 8px;
    height: 25px;
    margin: 5px 10px;
  }
  .dropdown .header-dropdown .fleche-dropdown {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
    cursor: pointer;
    position: relative;
  }
  .dropdown .header-dropdown .fleche-dropdown.true {
    justify-content: start;
    transform: rotate(-180deg);
  }
  .dropdown .description-dropdown {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 142.6%;
    background-color: #F6F6F6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FF6060;
    height: 75%;
    margin-top: -10px;
    min-height: 100px;
    padding: 25px 10px 10px 10px;
  }
}
/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px) {
  .dropdown {
    border-radius: 5px;
    margin-bottom: 19px;
    text-align: left;
  }
  .dropdown .header-dropdown {
    align-items: center;
    background-color: #FF6060;
    border-radius: 5px;
    display: inline-flex;
    height: 25%;
    min-height: 25px;
    width: 100%;
  }
  .dropdown .header-dropdown .titre-dropdown {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 50%;
    color: white;
    padding-top: 8px;
    height: 25px;
    margin: 5px 10px;
  }
  .dropdown .header-dropdown .fleche-dropdown {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
    cursor: pointer;
    position: relative;
  }
  .dropdown .header-dropdown .fleche-dropdown.true {
    justify-content: start;
    transform: rotate(-180deg);
  }
  .dropdown .description-dropdown {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 142.6%;
    background-color: #F6F6F6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FF6060;
    height: 75%;
    margin-top: -10px;
    min-height: 100px;
    padding: 25px 10px 10px 10px;
  }
}
/*-------------------------------- Responsive - layout Mobile S 320px --------------------------*/
@media screen and (max-width: 320px) {
  .dropdown {
    border-radius: 5px;
    margin-bottom: 18px;
    text-align: left;
  }
  .dropdown .header-dropdown {
    align-items: center;
    background-color: #FF6060;
    border-radius: 5px;
    display: inline-flex;
    height: 25%;
    min-height: 25px;
    width: 100%;
  }
  .dropdown .header-dropdown .titre-dropdown {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 50%;
    color: white;
    padding-top: 8px;
    height: 24px;
    margin: 5px 10px;
  }
  .dropdown .header-dropdown .fleche-dropdown {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
    cursor: pointer;
    position: relative;
  }
  .dropdown .header-dropdown .fleche-dropdown.true {
    justify-content: start;
    transform: rotate(-180deg);
  }
  .dropdown .description-dropdown {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 142.6%;
    background-color: #F6F6F6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #FF6060;
    height: 75%;
    margin-top: -10px;
    min-height: 100px;
    padding: 25px 10px 10px 10px;
  }
}
/*------------------------------------------- Tags ----------------------------------------*/
.tags {
  display: inline-block;
  text-align: center;
}
.tags span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.6%;
  background-color: #FF6060;
  border-radius: 10px;
  color: white;
  margin-right: 10px;
  min-width: 115px;
  padding: 5px 15px;
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px) {
  /*------------------------------------------- Tags ----------------------------------------*/
  .tags {
    display: inline-block;
    text-align: center;
  }
  .tags span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 142.6%;
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
    margin-right: 10px;
    min-width: 115px;
    padding: 5px 15px;
  }
}
/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px) {
  /*------------------------------------------- Tags ----------------------------------------*/
  .tags {
    display: inline-block;
    text-align: center;
    margin-bottom: 18px;
  }
  .tags span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 142.6%;
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
    margin-right: 10px;
    min-width: 115px;
    padding: 5px 13px;
  }
}
/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px) {
  /*------------------------------------------- Tags ----------------------------------------*/
  .tags {
    display: inline-block;
    text-align: center;
    margin-bottom: 18px;
  }
  .tags span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 142.6%;
    background-color: #FF6060;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    min-width: 84px;
    padding: 5px 13px;
  }
}
/*-------------------------------- Responsive - layout Mobile S 320px --------------------------*/
@media screen and (max-width: 320px) {
  /*------------------------------------------- Tags ----------------------------------------*/
  .tags {
    display: inline-block;
    text-align: center;
    margin-bottom: 18px;
  }
  .tags span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 142.6%;
    background-color: #FF6060;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    min-width: 84px;
    padding: 5px 8px;
  }
}
/*------------------------------------------- Header ------------------------------------------*/
header {
  align-items: center;
  display: flex;
  margin-top: 41px;
  margin-left: 100px;
  margin-right: 100px;
}
header img {
  height: 68px;
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px) {
  /*------------------------------------------- Header ------------------------------------------*/
  header {
    align-items: center;
    display: flex;
    margin-top: 21px;
    margin-left: 53px;
    margin-right: 53px;
  }
  header img {
    height: 35px;
  }
}
/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px) {
  /*------------------------------------------- Header ------------------------------------------*/
  header {
    align-items: center;
    display: flex;
    margin-top: 22px;
    margin-left: 22px;
    margin-right: 22px;
  }
  header img {
    height: 53px;
  }
}
/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px) {
  /*------------------------------------------- Header ------------------------------------------*/
  header {
    align-items: center;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  header img {
    height: 47px;
  }
}
/*-------------------------------- Responsive - layout Mobile S 320px --------------------------*/
@media screen and (max-width: 320px) {
  /*------------------------------------------- Header ------------------------------------------*/
  header {
    align-items: center;
    display: flex;
    margin-top: 17px;
    margin-left: 16px;
    margin-right: 16px;
  }
  header img {
    height: 40px;
  }
}
/*----------------------------------- navigation ----------------------------------------------*/
nav {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}
nav .nav-link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  color: #FF6060;
  margin: auto 25px;
  text-transform: uppercase;
  text-decoration: none;
}
nav .nav-link:hover {
  color: black;
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px) {
  /*----------------------------------- navigation ----------------------------------------------*/
  nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;
  }
  nav .nav-link {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 142.6%;
    color: #FF6060;
    margin: auto 25px;
    text-transform: uppercase;
    text-decoration: none;
  }
  nav .nav-link:hover {
    color: black;
  }
}
/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px) {
  /*----------------------------------- navigation ----------------------------------------------*/
  nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;
  }
  nav .nav-link {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 142.6%;
    color: #FF6060;
    margin: auto 10px;
    text-transform: uppercase;
    text-decoration: none;
  }
  nav .nav-link:hover {
    color: black;
  }
}
/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px) {
  /*----------------------------------- navigation ----------------------------------------------*/
  nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;
  }
  nav .nav-link {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 142.6%;
    color: #FF6060;
    margin: auto 10px;
    text-transform: uppercase;
    text-decoration: none;
  }
  nav .nav-link:hover {
    color: black;
  }
}
/*-------------------------------- Responsive - layout Mobile S 320px --------------------------*/
@media screen and (max-width: 320px) {
  /*----------------------------------- navigation ----------------------------------------------*/
  nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;
  }
  nav .nav-link {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 142.6%;
    color: #FF6060;
    margin: auto 10px;
    text-transform: uppercase;
    text-decoration: none;
  }
  nav .nav-link:hover {
    color: black;
  }
}
/*------------------------------------------- Footer ----------------------------------------*/
footer {
  background-color: black;
  width: 100%;
  position: relative;
}
footer .content {
  display: flex;
  flex-direction: column;
  padding-top: 63px;
  padding-bottom: 63px;
  text-align: center;
}
footer .content img {
  margin: auto;
  width: 124px;
}
footer .content p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  text-align: center;
  color: white;
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px) {
  /*------------------------------------------- Footer ----------------------------------------*/
  footer {
    background-color: black;
    width: 100%;
    position: relative;
  }
  footer .content {
    display: flex;
    flex-direction: column;
    padding-top: 63px;
    padding-bottom: 63px;
    text-align: center;
  }
  footer .content img {
    margin: auto;
    width: 66px;
  }
  footer .content p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 142.6%;
    text-align: center;
    color: white;
  }
}
/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px) {
  /*------------------------------------------- Footer ----------------------------------------*/
  footer {
    background-color: black;
    width: 100%;
    position: relative;
  }
  footer .content {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
  }
  footer .content img {
    margin: auto;
    width: 142px;
  }
  footer .content p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 142.6%;
    text-align: center;
    color: white;
  }
}
/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px) {
  /*------------------------------------------- Footer ----------------------------------------*/
  footer {
    margin-top: 236px;
    background-color: black;
    width: 100%;
    position: relative;
  }
  footer .content {
    display: flex;
    flex-direction: column;
    padding-top: 62px;
    padding-bottom: 62px;
    text-align: center;
  }
  footer .content img {
    margin: auto;
    width: 123px;
  }
  footer .content p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 142.6%;
    text-align: center;
    color: white;
    margin-top: 27px;
  }
}
/*-------------------------------- Responsive - layout Mobile S 320px --------------------------*/
@media screen and (max-width: 320px) {
  /*------------------------------------------- Footer ----------------------------------------*/
  footer {
    margin-top: 202px;
    background-color: black;
    width: 100%;
    position: relative;
  }
  footer .content {
    display: flex;
    flex-direction: column;
    padding-top: 53px;
    padding-bottom: 53px;
    text-align: center;
  }
  footer .content img {
    margin: auto;
    width: 107px;
  }
  footer .content p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 142.6%;
    text-align: center;
    color: white;
    margin-top: 26px;
  }
}
/*------------------------------------------- Page Home ----------------------------------------*/
.section-card {
  margin-left: 100px;
  margin-right: 100px;
  background-color: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 60px;
  padding: 55px 50px;
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px) {
  /*------------------------------------------- Page Home ----------------------------------------*/
  .section-card {
    margin-left: 53px;
    margin-right: 53px;
    background-color: #f6f6f6;
    border-radius: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px 30px;
    padding: 28px 25px;
  }
}
/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 425px) {
  /*------------------------------------------- Page Home ----------------------------------------*/
  .section-card {
    margin-left: 0px;
    margin-right: 0px;
    background-color: white;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    gap: 9px 0px;
  }
}
/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 375px) {
  /*------------------------------------------- Page Home ----------------------------------------*/
  .section-card {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    gap: 22px 0px;
  }
}
/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 320px) {
  /*------------------------------------------- Page Home ----------------------------------------*/
  .section-card {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 19px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: white;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    gap: 19px 0px;
  }
}
/*------------------------------------------- Page about ----------------------------------------*/
.dropdown-about {
  margin: auto;
  padding-left: 209px;
  padding-right: 209px;
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px) {
  /*------------------------------------------- Page about ----------------------------------------*/
  .dropdown-about {
    margin: auto;
    padding-left: 111px;
    padding-right: 111px;
  }
}
/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px) {
  /*------------------------------------------- Page about ----------------------------------------*/
  .dropdown-about {
    margin: auto;
    padding-left: 22px;
    padding-right: 22px;
  }
}
/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px) {
  /*------------------------------------------- Page about ----------------------------------------*/
  .dropdown-about {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*-------------------------------- Responsive - layout Mobile S 320px --------------------------*/
@media screen and (max-width: 320px) {
  /*------------------------------------------- Page about ----------------------------------------*/
  .dropdown-about {
    margin: auto;
    padding-left: 18px;
    padding-right: 18px;
  }
}
/*------------------------------------------- Page fiche du logement ----------------------------------------*/
.logements-propietaire {
  display: flex;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
}
.logements-propietaire .information-logements {
  flex-direction: column;
  flex: 1;
}
.logements-propietaire .information-logements h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  color: #FF6060;
}
.logements-propietaire .information-logements p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 142.6%;
  color: #FF6060;
}
.logements-propietaire .information-propietaire {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}
.logements-propietaire .information-propietaire span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #FF6060;
  margin-right: 10px;
  text-align: right;
  width: 100px;
}
.logements-propietaire .information-propietaire img {
  border-radius: 50%;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 64px;
}
.logements-propietaire .note {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.logements-propietaire .note .etoile {
  height: 30px;
  width: 30px;
}

.description-equipements {
  padding-left: 100px;
  padding-right: 100px;
  display: inline-flex;
  gap: 0 75px;
  line-height: 22.5px;
  list-style: none;
  margin-top: 25px;
  width: 100%;
}
.description-equipements > .dropdown {
  width: 50%;
  height: 100%;
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px) {
  /*------------------------------------------- Page fiche du logement ----------------------------------------*/
  .logements-propietaire {
    display: flex;
    margin: auto;
    padding-left: 53px;
    padding-right: 53px;
  }
  .logements-propietaire .information-logements {
    flex-direction: column;
    flex: 1;
  }
  .logements-propietaire .information-logements h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 142.6%;
    color: #FF6060;
  }
  .logements-propietaire .information-logements p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    margin-bottom: 13px;
    line-height: 142.6%;
    color: #FF6060;
  }
  .logements-propietaire .information-propietaire {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 13px;
  }
  .logements-propietaire .information-propietaire span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 142.6%;
    color: #FF6060;
    margin-right: 10px;
    text-align: right;
    width: 50px;
  }
  .logements-propietaire .information-propietaire img {
    border-radius: 50%;
    height: 34px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 34px;
  }
  .logements-propietaire .note {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
  .logements-propietaire .note .etoile {
    height: 15px;
    width: 15px;
  }
  .description-equipements {
    display: inline-flex;
    gap: 0 41px;
    line-height: 22.5px;
    list-style: none;
    margin-top: 25px;
    width: 100%;
  }
  .description-equipements > .dropdown {
    width: 50%;
    height: 100%;
  }
}
/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px) {
  /*------------------------------------------- Page fiche du logement ----------------------------------------*/
  .logements-propietaire {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 22px;
    padding-right: 22px;
  }
  .logements-propietaire .information-logements {
    flex-direction: column;
    flex: 1;
  }
  .logements-propietaire .information-logements h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 142.6%;
    color: #FF6060;
  }
  .logements-propietaire .information-logements p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 13px;
    line-height: 142.6%;
    color: #FF6060;
  }
  .logements-propietaire .information-propietaire {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 13px;
  }
  .logements-propietaire .information-propietaire span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 142.6%;
    color: #FF6060;
    margin-right: 10px;
    text-align: right;
    width: 50px;
  }
  .logements-propietaire .information-propietaire img {
    border-radius: 50%;
    height: 37px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 37px;
  }
  .logements-propietaire .note {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: -20px;
  }
  .logements-propietaire .note .etoile {
    height: 15px;
    width: 15px;
  }
  .description-equipements {
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    flex-direction: column;
    gap: 0 41px;
    line-height: 22.5px;
    list-style: none;
    margin-top: 25px;
    width: 100%;
  }
  .description-equipements > .dropdown {
    width: 100%;
    height: 100%;
  }
}
/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px) {
  /*------------------------------------------- Page fiche du logement ----------------------------------------*/
  .logements-propietaire {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .logements-propietaire .information-logements {
    flex-direction: column;
    flex: 1;
  }
  .logements-propietaire .information-logements h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
  }
  .logements-propietaire .information-logements p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 13px;
    line-height: 142.6%;
    color: #FF6060;
  }
  .logements-propietaire .information-propietaire {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 13px;
  }
  .logements-propietaire .information-propietaire span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 142.6%;
    color: #FF6060;
    margin-right: 10px;
    text-align: right;
    width: 50px;
  }
  .logements-propietaire .information-propietaire img {
    border-radius: 50%;
    height: 32px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 32px;
  }
  .logements-propietaire .note {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: -27px;
  }
  .logements-propietaire .note .etoile {
    height: 15px;
    width: 15px;
  }
  .description-equipements {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 0 41px;
    line-height: 22.5px;
    list-style: none;
    margin-top: 16px;
    width: 100%;
  }
  .description-equipements > .dropdown {
    width: 100%;
    height: 100%;
  }
}
/*-------------------------------- Responsive - layout Mobile S 320px --------------------------*/
@media screen and (max-width: 320px) {
  /*------------------------------------------- Page fiche du logement ----------------------------------------*/
  .logements-propietaire {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 18px;
    padding-right: 18px;
  }
  .logements-propietaire .information-logements {
    flex-direction: column;
    flex: 1;
  }
  .logements-propietaire .information-logements h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 142.6%;
    color: #FF6060;
  }
  .logements-propietaire .information-logements p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 13px;
    line-height: 142.6%;
    color: #FF6060;
  }
  .logements-propietaire .information-propietaire {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 13px;
  }
  .logements-propietaire .information-propietaire span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 142.6%;
    color: #FF6060;
    margin-right: 10px;
    text-align: right;
    width: 50px;
  }
  .logements-propietaire .information-propietaire img {
    border-radius: 50%;
    height: 27px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 27px;
  }
  .logements-propietaire .note {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: -27px;
  }
  .logements-propietaire .note .etoile {
    height: 13px;
    width: 13px;
  }
  .description-equipements {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 0 41px;
    line-height: 22.5px;
    list-style: none;
    margin-top: 16px;
    margin-bottom: 77px;
    width: 100%;
  }
  .description-equipements > .dropdown {
    width: 100%;
    height: 100%;
  }
}
/*------------------------------------------- Page error 404 ----------------------------------------*/
.section-error404 {
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  margin-bottom: 163px;
}
.section-error404 article {
  margin-bottom: 198px;
}
.section-error404 article h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  line-height: 142.6%;
  color: #FF6060;
  margin: auto 25px;
}
.section-error404 article span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  color: #FF6060;
}
.section-error404 .link-404 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #FF6060;
  text-decoration: underline;
}
.section-error404 .link-404:hover {
  color: black;
}

/*-------------------------------- Responsive - layout Tablette 768px --------------------------*/
@media screen and (max-width: 768px) {
  /*------------------------------------------- Page error 404 ----------------------------------------*/
  .section-error404 {
    margin: auto;
    padding-left: 53px;
    padding-right: 53px;
    text-align: center;
    margin-bottom: 86px;
  }
  .section-error404 article {
    margin-bottom: 99px;
  }
  .section-error404 article h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 153px;
    line-height: 142.6%;
    color: #FF6060;
    margin: auto 25px;
  }
  .section-error404 article span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 142.6%;
    color: #FF6060;
  }
  .section-error404 .link-404 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 142.6%;
    color: #FF6060;
    text-decoration: underline;
  }
  .section-error404 .link-404:hover {
    color: black;
  }
}
/*-------------------------------- Responsive - layout Mobile L 425px --------------------------*/
@media screen and (max-width: 425px) {
  /*------------------------------------------- Page error 404 ----------------------------------------*/
  .section-error404 {
    margin-top: 245px;
    padding-left: 53px;
    padding-right: 53px;
    text-align: center;
    margin-bottom: 268px;
  }
  .section-error404 article {
    margin-bottom: 164px;
  }
  .section-error404 article h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 110px;
    line-height: 142.6%;
    color: #FF6060;
    margin: auto 25px;
  }
  .section-error404 article span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 142.6%;
    color: #FF6060;
  }
  .section-error404 .link-404 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 142.6%;
    color: #FF6060;
    text-decoration: underline;
  }
  .section-error404 .link-404:hover {
    color: black;
  }
}
/*-------------------------------- Responsive - layout Mobile M 375px --------------------------*/
@media screen and (max-width: 375px) {
  /*------------------------------------------- Page error 404 ----------------------------------------*/
  .section-error404 {
    margin-top: 212px;
    padding-left: 53px;
    padding-right: 53px;
    text-align: center;
  }
  .section-error404 article {
    margin-bottom: 145px;
  }
  .section-error404 article h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 142.6%;
    color: #FF6060;
    margin: auto 25px;
  }
  .section-error404 article span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
  }
  .section-error404 .link-404 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    color: #FF6060;
    text-decoration: underline;
  }
  .section-error404 .link-404:hover {
    color: black;
  }
}
/*-------------------------------- Responsive - layout Mobile S 320px --------------------------*/
@media screen and (max-width: 320px) {
  /*------------------------------------------- Page error 404 ----------------------------------------*/
  .section-error404 {
    margin-top: 181px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
    margin-bottom: 202px;
  }
  .section-error404 article {
    margin-bottom: 122px;
  }
  .section-error404 article h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 81px;
    line-height: 142.6%;
    color: #FF6060;
    margin: auto 25px;
  }
  .section-error404 article span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 142.6%;
    color: #FF6060;
  }
  .section-error404 .link-404 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 142.6%;
    color: #FF6060;
    text-decoration: underline;
  }
  .section-error404 .link-404:hover {
    color: black;
  }
}/*# sourceMappingURL=main.css.map */